@{
    ViewBag.Title = "Home Page";
}
<div class="jumbotron">
    <h1><center>Final Project</center></h1>
    <p><center><b>STUDENT MANAGEMENT SYSTEM</b></center></p>
</div>
<h1 style="color: blue;"><center><marquee>Cégep de la Gaspésie et des Îles</marquee></center></h1><br/>
<center>
    <div class="jumbotron" style="width: 450px;">
        <div class="container" style="height: 170px;">

            <b><p><center>Prabhjot Singh (2092028)</center></p>
            <p><center>Sai Tapaswee Sreeram (2091119)</center></p>
            <p><center>Gurpreet Kaur (2091510)</center></p>
            <p><center>Santosh Naga Pujitha Vadaparthy (2091693)</center></p></b>
        </div>

    </div>
</center>
